<div class="offers_item rating_4">
  <div class="row">
    <div class="col-lg-6 col-1680-4">
      <div class="offers_image_container">
        <!-- Image by https://unsplash.com/@kensuarez -->
        <div
          class="offers_image_background"
          [ngStyle]="{ background: 'url(' + backgroundUrl + ')', width: '100%', height: '320px' }"
        ></div>
        <div class="offer_name">
          <a [routerLink]="['/hotel/', item.hotelId, item.hotelName]">{{ item.hotelName }}</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="offers_content">
        <div class="offers_price" *ngIf="item.price">{{ item.price }} USD</div>
        <div class="rating_r rating_r_4 offers_rating">
          <i *ngFor="let in of counter(item.starRate); let i = index"></i>
        </div>
        <p class="offers_text">
          <strong>{{ item.Add_1 }} {{ item.Add_2 }} {{ item.Add_3 }}</strong>
          <br />
          {{ item.description | slice: 0:100 }} ....
        </p>
        <div class="offers_icons">
          <ul class="offers_icons_list">
            <li class="offers_icons_item"><img src="assets/images/post.png" alt="" /></li>
            <li class="offers_icons_item"><img src="assets/images/compass.png" alt="" /></li>
            <li class="offers_icons_item"><img src="assets/images/bicycle.png" alt="" /></li>
          </ul>
        </div>
        <div class="offers_link"><a [routerLink]="['/hotel/', item.hotelId, item.hotelName]">read more</a></div>
      </div>
    </div>
  </div>
</div>
