<div class="home">
  <div
    class="home_background parallax-window"
    data-parallax="scroll"
    data-image-src="assets/images/about_background.jpg"
  ></div>
  <div class="home_content">
    <div class="home_title">Best Hotels</div>
  </div>
</div>

<div class="offers">
  <div class="container-flud">
    <div class="row">
      <div class="col text-center">
        <h2 class="section_title">the best offers : {{ hotels.length }} properties found</h2>
      </div>
    </div>
    <div class="row offers_items">
      <div class="col-lg-12 offers_col" *ngFor="let item of hotels">
        <hotel-item [item]="item"></hotel-item>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
