.home {
  width: 100%;
  height: 465px;
  background: transparent;
}
.home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home_content {
  position: absolute;
  bottom: 106px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.home_title {
  font-size: 72px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

/*********************************
9. Hotel Info
*********************************/

.single_listing {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 107px;
  padding-left: 98px;
}
.hotel_title {
  font-size: 30px;
  font-weight: 600;
  color: #2d2c2c;
}
.hotel_rating {
  margin-top: -5px;
}
.hotel_location {
  font-size: 16px;
  color: #929191;
  margin-top: 9px;
}
.book_button {
  background: #31124b;
}
.book_button a {
  padding-left: 32px;
  padding-right: 32px;
}
.book_button:hover {
  opacity: 0.8;
}
.hotel_map_link_container {
  margin-top: 14px;
}
.hotel_map_link {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #2d2c2c;
  line-height: 34px;
  cursor: pointer;
  border-bottom: solid 2px #fa9e1b;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.hotel_map_link:hover {
  color: #fa9e1b;
}

/*********************************
9.1 Hotel Image
*********************************/

.hotel_image {
  margin-top: 29px;
  z-index: 1;
}
.hotel_image img {
  width: 100%;
}
.hotel_review_container {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 209px;
  height: 112px;
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  animation: review_anim 1s 0.5s forwards;
}
@keyframes review_anim {
  from {
    top: 52px;
    visibility: hidden;
    opacity: 0;
  }
  to {
    top: 22px;
    visibility: visible;
    opacity: 1;
  }
}
.hotel_review_content {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.hotel_review_title {
  font-size: 12px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
}
.hotel_review_subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #929191;
  margin-top: 1px;
}
.hotel_review_rating {
  display: inline-block;
  width: 62px;
  height: 57px;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  line-height: 57px;
  background: #fa9e1b;
  vertical-align: middle;
  border-radius: 45%;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}

/*********************************
9.2 Hotel Gallery
*********************************/

.hotel_gallery {
  width: 100%;
  margin-top: 32px;
}
.hotel_slider_container {
  width: 100%;
}
.hotel_slider {
  width: 100%;
}
.hotel_slider_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.hotel_slider_nav .nav_path,
.hotel_slider_nav .nav_arrow {
  fill: #c4ced2;
}
.hotel_slider_prev {
  left: -60px;
}
.hotel_slider_next {
  right: -60px;
}
.hotel_slider_prev:hover .nav_path,
.hotel_slider_prev:hover .nav_arrow {
  fill: url(#hotel_grad_prev);
}
.hotel_slider_next:hover .nav_path,
.hotel_slider_next:hover .nav_arrow {
  fill: url(#hotel_grad_next);
}

/*********************************
9.3 Hotel Info Text
*********************************/

.hotel_info_text {
  margin-top: 45px;
}
.hotel_info_text p {
  color: #929191;
}

/*********************************
9.4 Hotel Info Tags
*********************************/

.hotel_info_tags {
  margin-top: 45px;
}
.hotel_icons_item {
  display: inline-block;
  margin-right: 15px;
}
.hotel_icons_item:last-child {
  margin-right: 0px;
}

/*********************************
10. Rooms
*********************************/

.rooms {
  margin-top: 69px;
}
.room {
  margin-bottom: 33px;
}
.room:last-child {
  margin-bottom: 0px;
}
.room_image {
  width: 100%;
}
.room_image img {
  width: 100%;
}
.room_content {
}
.room_title {
  font-size: 16px;
  font-weight: 600;
  color: #2d2c2c;
  margin-top: -5px;
}
.room_price {
  font-size: 16px;
  font-weight: 600;
  color: #929191;
  margin-top: 9px;
}
.room_text {
  font-size: 16px;
  font-weight: 600;
  color: #fa9e1b;
  margin-top: 6px;
}
.room_extra {
  font-size: 14px;
  font-weight: 400;
  color: #2d2c2c;
  margin-top: 5px;
}
.room_button {
  margin-top: 24px;
}

/*********************************
11. Reviews
*********************************/

.reviews {
  margin-top: 98px;
}
.reviews_title {
  font-size: 18px;
  font-weight: 600;
  color: #2d2c2c;
  text-transform: uppercase;
}
.reviews_container {
  margin-top: 61px;
}
.review {
  margin-bottom: 91px;
}
.review:last-child {
  margin-bottom: 0px;
}
.review_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.review_image img {
  width: 100%;
}
.review_title {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #2d2c2c;
  margin-top: -3px;
}
.review_rating {
  display: inline-block;
  position: absolute;
  bottom: 7px;
  right: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background: #fa9e1b;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 43px;
  border-radius: 22px;
}
.review_text {
  margin-top: 24px;
}
.review_text p:last-of-type {
  margin-bottom: 0px;
}
.review_name {
  font-size: 14px;
  font-weight: 400;
  color: #2d2c2c;
  margin-top: 19px;
}
.review_date {
  font-size: 12px;
  font-weight: 600;
  color: #fa9e1b;
  margin-top: 4px;
}

/*********************************
12. Location on Map
*********************************/

.location_on_map {
  margin-top: 93px;
}
.location_on_map_title {
  font-size: 18px;
  font-weight: 600;
  color: #2d2c2c;
  text-transform: uppercase;
}
.travelix_map {
  width: 100%;
  margin-top: 63px;
}
.google_map {
  width: 100%;
  height: 379px;
}
.map_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#map {
  width: 100%;
  height: calc(100% + 30px);
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1680px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
0. 1730px
************/

@media only screen and (max-width: 1730px) {
  .single_listing {
    padding-left: 0px;
  }
  .listing {
    padding-top: 0px;
  }
  .search {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    z-index: 10;
  }
  .search_inner {
    width: 100%;
    height: 100%;
  }
  .no-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .no-margin {
    margin-left: -15px;
    margin-right: -15px;
  }
  .search_tabs_container {
    position: absolute;
    bottom: 100%;
    left: 15px;
    width: calc(100% - 30px);
  }
  .search_tabs {
    flex-wrap: nowrap;

    height: 94px;
  }
  .search_tab {
    font-size: 14px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    flex-grow: 1;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .search_tab:not(:first-child):not(:nth-child(2)) {
    border: none;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .search_tab:nth-child(2) {
    border-top-right-radius: 0px;
    padding-right: 0px;
  }
  .search_tab:last-child {
    border-top-right-radius: 94px;
    padding-right: 7px;
  }
  .search_panel {
    display: none !important;
    width: 100%;
    height: 100%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    padding-top: 57px;
    padding-bottom: 72px;
  }
  .search_item {
    margin-bottom: 0px;
  }
  .search_item:first-child {
    width: 37%;
  }
  .search_item:nth-child(2) {
    width: 16%;
  }
  .search_item:nth-child(3) {
    width: 16%;
  }
  .search_item:nth-child(4) {
    width: 9.947%;
    margin-right: 0px;
  }
  .search_item:nth-child(5) {
    width: 9.947%;
  }
  .search_extras_item {
    width: 20%;
  }
  .search_extras_item:nth-child(even) {
    padding-left: 0px;
  }
  .more_options {
    width: 100%;
    margin-top: 28px;
  }
  .search_button {
    margin-top: 29px;
  }
}

/************
1. 1680px
************/

@media only screen and (max-width: 1680px) {
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
  .main_nav_container {
    margin-right: 121px;
  }
  .footer_blog_content {
    padding-left: 74px;
  }
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  .main_nav_container {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .search {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .search_tabs_container {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    top: auto;
  }
  .search_tabs {
    height: auto;
  }
  .search_tab {
    height: 62px;
    width: 100%;
    padding-left: 15px;
  }
  .search_tab:first-child {
    border-top-left-radius: 0px;
    padding-left: 15px;
  }
  .search_tab:last-child {
    border-top-right-radius: 0px;
  }
  .search_panel {
    display: none !important;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .search_panel.active {
    display: flex !important;
  }
  .search_item {
    width: 100% !important;
    margin-bottom: 23px;
  }
  .search_item:last-child {
    margin-bottom: 0px;
  }
  .hotel_title_button {
    margin-top: 25px;
  }
  .hotel_map_link_container {
    margin-top: 25px;
  }
  .room_title {
    margin-top: 25px;
  }
  .room_button {
    margin-top: 25px;
  }
  .review_title {
    margin-top: 30px;
  }
  .review_rating {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 10px;
  }
  .footer_column {
    margin-bottom: 60px;
  }
  .footer_column:last-child {
    margin-bottom: 0px;
  }
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .copyright_content {
    height: auto;
    margin-top: 15px;
  }
  .footer_nav_container {
    height: auto;
  }
  .footer_nav_item {
    display: block;
  }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {
}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {
}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
  .search_extras_item {
    width: 50%;
  }
  .home_title {
    font-size: 48px;
  }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
  p {
    font-size: 13px;
  }
  h1 {
    font-size: 28px;
  }
  .top_bar {
    display: none;
  }
  .button {
    height: 44px;
    border-radius: 22px;
  }
  .button a {
    line-height: 44px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .logo a img {
    width: 24px;
  }
  .logo a {
    font-size: 24px;
  }
  .main_nav_col {
    height: 60px;
  }
  .header.scrolled .main_nav_col {
    height: 60px;
  }
  .logo_container {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .content_search {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  .header.scrolled .content_search {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  .hamburger {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .logo a {
    font-size: 16px;
  }
  .logo a img {
    width: 16px;
    margin-right: 7px;
  }
  .hamburger i {
    font-size: 18px;
  }
  .content_search svg {
    width: 15px;
    height: 15px;
  }
  .menu_close_container {
    top: 15px;
    right: 28px;
  }
  .menu_logo {
    margin-bottom: 17px;
  }
  .menu_logo a img {
    width: 28px !important;
  }
  .menu_item a {
    font-size: 24px;
  }
  .section_title {
    font-size: 21px;
  }
  .home {
    width: 100%;
    height: 375px;
    background: transparent;
  }
  .home_title {
    font-size: 24px;
  }
  .hotel_slider_nav {
    display: none !important;
  }
  .hotel_title {
    font-size: 24px;
  }
  .hotel_location {
    font-size: 14px;
  }
  .hotel_map_link {
    font-size: 14px;
  }
  .hotel_review_container {
    background: transparent;
    width: 62px;
    height: 57px;
    top: 15px;
    right: 15px;
  }
  .hotel_review_content {
    display: none;
  }
  .review_rating {
    margin-top: 20px;
  }
  .google_map {
    height: 75vh;
  }
  .footer_about_text {
    font-size: 13px;
  }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {
}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {
}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {
}
