<div class="home">
  <div
    class="home_background parallax-window"
    data-parallax="scroll"
    data-image-src="assets/images/single_background.jpg"
  ></div>
  <div class="home_content">
    <div class="home_title">Best Hotels</div>
  </div>
</div>

<div class="listing">
  <!-- Single Listing -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="single_listing">
          <!-- Hotel Info -->

          <div class="hotel_info">
            <!-- Title -->
            <div class="hotel_title_container d-flex flex-lg-row flex-column" *ngIf="hotelObj && hotelObj.hotelName">
              <div class="hotel_title_content">
                <h1 class="hotel_title">{{ hotelObj.hotelName }}</h1>
                <div class="offers_price" *ngIf="price">{{ price }} USD</div>
                <br /><br /><br />
                <div class="rating_r rating_r_4 hotel_rating">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="hotel_location">{{ hotelObj.Add_1 }} {{ hotelObj.Add_2 }} {{ hotelObj.Add_3 }}</div>
              </div>
            </div>

            <!-- Listing Image -->

            <div class="hotel_image">
              <img src="{{ backgroundUrl }}" alt="" />
              <div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
                <div class="hotel_review">
                  <div class="hotel_review_content">
                    <div class="hotel_review_title">very good</div>
                    <div class="hotel_review_subtitle">100 reviews</div>
                  </div>
                  <div class="hotel_review_rating text-center">8.1</div>
                </div>
              </div>
            </div>

            <!-- Hotel Gallery -->

            <div class="hotel_gallery">
              <div class="hotel_slider_container">
                <div class="owl-carousel owl-theme hotel_slider">
                  <!-- Hotel Gallery Slider Item -->
                  <div class="owl-item" *ngFor="let item of pic.pictures">
                    <a class="colorbox cboxElement" href="{{ imgPath + item }}">
                      <img src="{{ imgPath + item }}" alt="https://unsplash.com/@jbriscoe" />
                    </a>
                  </div>
                </div>

                <!-- Hotel Slider Nav - Prev -->
                <div class="hotel_slider_nav hotel_slider_prev">
                  <svg
                    version="1.1"
                    id="Layer_6"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    width="28px"
                    height="33px"
                    viewBox="0 0 28 33"
                    enable-background="new 0 0 28 33"
                    xml:space="preserve"
                  >
                    <defs>
                      <linearGradient id="hotel_grad_prev">
                        <stop offset="0%" stop-color="#fa9e1b" />
                        <stop offset="100%" stop-color="#8d4fff" />
                      </linearGradient>
                    </defs>
                    <path
                      class="nav_path"
                      fill="#F3F6F9"
                      d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                    M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                    C22.545,2,26,5.541,26,9.909V23.091z"
                    />
                    <polygon
                      class="nav_arrow"
                      fill="#F3F6F9"
                      points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
                    11.042,18.219 "
                    />
                  </svg>
                </div>

                <!-- Hotel Slider Nav - Next -->
                <div class="hotel_slider_nav hotel_slider_next">
                  <svg
                    version="1.1"
                    id="Layer_7"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    width="28px"
                    height="33px"
                    viewBox="0 0 28 33"
                    enable-background="new 0 0 28 33"
                    xml:space="preserve"
                  >
                    <defs>
                      <linearGradient id="hotel_grad_next">
                        <stop offset="0%" stop-color="#fa9e1b" />
                        <stop offset="100%" stop-color="#8d4fff" />
                      </linearGradient>
                    </defs>
                    <path
                      class="nav_path"
                      fill="#F3F6F9"
                      d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                  M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                  C22.545,2,26,5.541,26,9.909V23.091z"
                    />
                    <polygon
                      class="nav_arrow"
                      fill="#F3F6F9"
                      points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
                  17.046,15.554 "
                    />
                  </svg>
                </div>
              </div>
            </div>

            <!-- Hotel Info Text -->

            <div class="hotel_info_text" *ngIf="hotelObj && hotelObj.hotelName">
              <p>{{ hotelObj.description }}</p>
            </div>

            <!-- Hotel Info Tags -->

            <div class="hotel_info_tags">
              <ul class="hotel_icons_list">
                <li class="hotel_icons_item"><img src="assets/images/post.png" alt="" /></li>
                <li class="hotel_icons_item"><img src="assets/images/compass.png" alt="" /></li>
                <li class="hotel_icons_item"><img src="assets/images/bicycle.png" alt="" /></li>
                <li class="hotel_icons_item"><img src="assets/images/sailboat.png" alt="" /></li>
              </ul>
            </div>
          </div>

          <!-- Rooms -->

          <div class="rooms">
            <!-- Room -->

            <!-- Room -->
            <div class="room">
              <!-- Room -->
              <div class="row">
                <div class="col-lg-3" *ngIf="hotelsFacilities.Activities">
                  <div class="room_content">
                    <div class="room_title">Activities</div>
                    <div class="room_text">
                      <ul>
                        <li *ngFor="let item of hotelsFacilities.Activities">
                          {{ item }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3" *ngIf="hotelsFacilities.Services">
                  <div class="room_content">
                    <div class="room_title">Services</div>
                    <div class="room_text">
                      <ul>
                        <li *ngFor="let item of hotelsFacilities.Services">
                          {{ item }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3" *ngIf="hotelsFacilities.Outdoors">
                  <div class="room_content">
                    <div class="room_title">Outdoors</div>
                    <div class="room_text">
                      <ul>
                        <li *ngFor="let item of hotelsFacilities.Outdoors">
                          {{ item }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3" *ngIf="hotelsFacilities.General">
                  <div class="room_content">
                    <div class="room_title">General</div>
                    <div class="room_text">
                      <ul>
                        <li *ngFor="let item of hotelsFacilities.General">
                          {{ item }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="rooms">
            <!-- Room -->
            <div class="room">
              <!-- Room -->
              <div class="row" *ngFor="let item of rooms">
                <div class="col-lg-2">
                  <div class="room_image"><img [src]="item.picture" /></div>
                </div>
                <div class="col-lg-7">
                  <div class="room_content">
                    <div class="room_title">{{ item.roomTypeName }} - {{ item.roomSize }}</div>
                    <div class="room_price">{{ item.price }} USD</div>
                    <div class="room_text">Max Adult : {{ item.maxOccuAdult }} Max Child : {{ item.maxOccuChild }}</div>
                    <div class="room_extra">
                      {{ item.mealType }} <br /><br />
                      <br /><br />
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 text-lg-right">
                  <div class="room_button">
                    <div class="button book_button trans_200">
                      <a href="#">book<span></span><span></span><span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Location on Map -->

          <div class="location_on_map">
            <div class="location_on_map_title">location on map</div>

            <!-- Google Map -->

            <div class="travelix_map">
              <div id="google_map" class="google_map">
                <div class="map_container">
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
