<header class="header">
  <!-- Top Bar -->

  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="phone">+94 719020130</div>
          <div class="social">
            <ul class="social_list">
              <li class="social_list_item">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              </li>
              <li class="social_list_item">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="social_list_item">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li class="social_list_item">
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
              </li>
              <li class="social_list_item">
                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              </li>
              <li class="social_list_item">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="user_box ml-auto">
            <div class="user_box_login user_box_link"><a href="#">login</a></div>
            <div class="user_box_register user_box_link"><a href="#">register</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
          <div class="logo_container">
            <div class="logo">
              <a href="#"><img src="assets/images/logo.png" alt="" />travelih</a>
            </div>
          </div>
          <div class="main_nav_container ml-auto">
            <ul class="main_nav_list">
              <li class="main_nav_item"><a routerLink="/">home</a></li>
              <li class="main_nav_item"><a routerLink="/hotels">Hotels</a></li>
              <li class="main_nav_item"><a routerLink="/hotels">offers</a></li>
              <li class="main_nav_item"><a routerLink="/">news</a></li>
              <li class="main_nav_item"><a routerLink="/">contact</a></li>
            </ul>
          </div>

          <div class="hamburger">
            <i class="fa fa-bars trans_200"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="menu trans_500">
  <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
    <div class="menu_close_container"><div class="menu_close"></div></div>
    <div class="logo menu_logo">
      <a href="#"><img src="assets/images/logo.png" alt=""/></a>
    </div>
    <ul>
      <li class="menu_item"><a href="#">home</a></li>
      <li class="menu_item"><a href="about.html">about us</a></li>
      <li class="menu_item"><a href="offers.html">offers</a></li>
      <li class="menu_item"><a href="blog.html">news</a></li>
      <li class="menu_item"><a href="contact.html">contact</a></li>
    </ul>
  </div>
</div>
