<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Footer Column -->
      <div class="col-lg-3 footer_column">
        <div class="footer_col">
          <div class="footer_content footer_about">
            <div class="logo_container footer_logo">
              <div class="logo">
                <a href="#"><img src="assets/images/logo.png" alt="" />travelih</a>
              </div>
            </div>
            <p class="footer_about_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vu lputate eros, iaculis consequat
              nisl. Nunc et suscipit urna. Integer eleme ntum orci eu vehicula pretium.
            </p>
            <ul class="footer_social_list">
              <li class="footer_social_item">
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
              <li class="footer_social_item">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li class="footer_social_item">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="footer_social_item">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
              <li class="footer_social_item">
                <a href="#"><i class="fa fa-behance"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 footer_column"></div>

      <div class="col-lg-3 footer_column"></div>

      <!-- Footer Column -->
      <div class="col-lg-3 footer_column">
        <div class="footer_col">
          <div class="footer_title">contact info</div>
          <div class="footer_content footer_contact">
            <ul class="contact_info_list">
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon"><img src="assets/images/placeholder.svg" alt="" /></div>
                </div>
                <div class="contact_info_text">4127 Raoul Wallenber 45b-c Gibraltar</div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon"><img src="assets/images/phone-call.svg" alt="" /></div>
                </div>
                <div class="contact_info_text">2556-808-8613</div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon"><img src="assets/images/message.svg" alt="" /></div>
                </div>
                <div class="contact_info_text">
                  <a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a>
                </div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon"><img src="assets/images/planet-earth.svg" alt="" /></div>
                </div>
                <div class="contact_info_text"><a href="https://colorlib.com">www.colorlib.com</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Copyright -->

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-lg-1 order-2  ">
        <div class="copyright_content d-flex flex-row align-items-center">
          <div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="http://sp-solutions.biz/" target="_blank">AUSTRALIAN STRATEGIC PARTNERSHIPS</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
      <div class="col-lg-9 order-lg-2 order-1">
        <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
          <div class="footer_nav">
            <ul class="footer_nav_list">
              <li class="footer_nav_item"><a href="#">home</a></li>
              <li class="footer_nav_item"><a href="about.html">about us</a></li>
              <li class="footer_nav_item"><a href="offers.html">offers</a></li>
              <li class="footer_nav_item"><a href="blog.html">news</a></li>
              <li class="footer_nav_item"><a href="contact.html">contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
