<!-- Home -->

<div class="home">
  <!-- Home Slider -->

  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      <!-- Slider Item -->
      <div class="owl-item home_slider_item">
        <!-- Image by https://unsplash.com/@anikindimitry -->
        <div class="home_slider_background" style="background-image:url(assets/images/home_slider.jpg)"></div>

        <div class="home_slider_content text-center">
          <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
            <h1>discover</h1>
            <h1>the world</h1>
            <div class="button home_slider_button">
              <div class="button_bcg"></div>
              <a href="#">explore now<span></span><span></span><span></span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slider Item -->
      <div class="owl-item home_slider_item">
        <div class="home_slider_background" style="background-image:url(assets/images/home_slider.jpg)"></div>

        <div class="home_slider_content text-center">
          <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
            <h1>discover</h1>
            <h1>the world</h1>
            <div class="button home_slider_button">
              <div class="button_bcg"></div>
              <a href="#">explore now<span></span><span></span><span></span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slider Item -->
      <div class="owl-item home_slider_item">
        <div class="home_slider_background" style="background-image:url(assets/images/home_slider.jpg)"></div>

        <div class="home_slider_content text-center">
          <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
            <h1>discover</h1>
            <h1>the world</h1>
            <div class="button home_slider_button">
              <div class="button_bcg"></div>
              <a href="#">explore now<span></span><span></span><span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Home Slider Nav - Prev -->
    <div class="home_slider_nav home_slider_prev">
      <svg
        version="1.1"
        id="Layer_2"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="28px"
        height="33px"
        viewBox="0 0 28 33"
        enable-background="new 0 0 28 33"
        xml:space="preserve"
      >
        <defs>
          <linearGradient id="home_grad_prev">
            <stop offset="0%" stop-color="#fa9e1b" />
            <stop offset="100%" stop-color="#8d4fff" />
          </linearGradient>
        </defs>
        <path
          class="nav_path"
          fill="#F3F6F9"
          d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
        M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
        C22.545,2,26,5.541,26,9.909V23.091z"
        />
        <polygon
          class="nav_arrow"
          fill="#F3F6F9"
          points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
        11.042,18.219 "
        />
      </svg>
    </div>

    <!-- Home Slider Nav - Next -->
    <div class="home_slider_nav home_slider_next">
      <svg
        version="1.1"
        id="Layer_3"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="28px"
        height="33px"
        viewBox="0 0 28 33"
        enable-background="new 0 0 28 33"
        xml:space="preserve"
      >
        <defs>
          <linearGradient id="home_grad_next">
            <stop offset="0%" stop-color="#fa9e1b" />
            <stop offset="100%" stop-color="#8d4fff" />
          </linearGradient>
        </defs>
        <path
          class="nav_path"
          fill="#F3F6F9"
          d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
      M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
      C22.545,2,26,5.541,26,9.909V23.091z"
        />
        <polygon
          class="nav_arrow"
          fill="#F3F6F9"
          points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
      17.046,15.554 "
        />
      </svg>
    </div>

    <!-- Home Slider Dots -->

    <div class="home_slider_dots">
      <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
        <li class="home_slider_custom_dot active">
          <div></div>
          01.
        </li>
        <li class="home_slider_custom_dot">
          <div></div>
          02.
        </li>
        <li class="home_slider_custom_dot">
          <div></div>
          03.
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Search -->

<div class="search">
  <!-- Search Contents -->

  <div class="container fill_height">
    <div class="row fill_height">
      <div class="col fill_height">
        <!-- Search Tabs -->

        <!-- Search Panel -->

        <div class="search_panel active">
          <form
            #myform="ngForm"
            (ngSubmit)="register(myform)"
            id="search_form_1"
            class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start"
          >
            <div class="search_item">
              <div class="ng-autocomplete destination search_input">
                <div>destination</div>
                <ng-autocomplete
                  [data]="data"
                  [isLoading]="false"
                  [searchKeyword]="keyword"
                  (selected)="selectEvent($event)"
                  (inputChanged)="onChangeSearch($event)"
                  (inputFocused)="onFocused($event)"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                >
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
            <div class="search_item">
              <div>check in</div>
              <input
                type="text"
                name="check_in"
                class="check_in search_input datepicker"
                placeholder="YYYY-MM-DD"
                id="check_in"
                ngModel
              />
            </div>
            <div class="search_item">
              <div>check out</div>
              <input
                type="text"
                name="check_out"
                class="check_out search_input datepicker"
                placeholder="YYYY-MM-DD"
                id="check_out"
                ngModel
              />
            </div>
            <div class="search_item">
              <div>adults</div>
              <select name="adults" id="adults_1" class="dropdown_item_select search_input" ngModel>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <div class="search_item">
              <div>children</div>
              <select name="children" id="children_1" class="dropdown_item_select search_input" ngModel>
                <option>0</option>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
            <button type="submit" class="button search_button">search<span></span><span></span><span></span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offers">
  <div class="container-full">
    <div class="row">
      <div class="col text-center">
        <h2 class="section_title">the best offers with rooms</h2>
      </div>
    </div>
    <div class="row offers_items">
      <!-- Offers Item -->
      <div class="col-lg-4 offers_col" *ngFor="let item of hotels">
        <hotel-item [item]="item" ngif="item.picture"></hotel-item>
      </div>
    </div>
  </div>
</div>
